.form-container {
  
  background-size: cover;
  padding: 3rem;
  width: 75%;
  
  margin-bottom: 3rem;
  border-radius: 10px;
   background-position: 20% calc(50% - 0px);
  
}

.form-container-income {
  background-image: linear-gradient(
    to right bottom,
    rgba(69, 99, 24, 0.144),
    rgb(53, 87, 9)
  ),
    url("../../assets/images/piggy-bank.jpg");
}

.form-container-expenses {
  background-image:  linear-gradient(
    to right bottom,
    rgba(102, 6, 6, 0.199),
    rgba(167, 52, 52)
  ),
    url("../../assets/images/calculator.jpg");
}



@media (max-width: 600px) {

  .form-container {
    width: 90%;
    background-size: cover;
    background-position: 20% calc(50% - 0px);
  }
  

}

